<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/'>Khóa học FullStack</a>
        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='dropdown'>
        <img class="user-avatar" src="https://p16-sign-va.tiktokcdn.com/tos-useast2a-avt-0068-giso/36870f270da0adf99ef5c5cb72dee1ff~c5_720x720.jpeg?x-expires=1667631600&x-signature=nvpVzf5V3%2FjpMxUfFCbxEBiXlVA%3D" alt="Mai Xuân Hiếu"/>
            <button
                class='btn btn-secondary dropdown-toggle'
                type='button'
                id='dropdownMenuButton'
                data-toggle='dropdown'
                aria-haspopup='true'
                aria-expanded='false'
            >
                Mai Xuân Hiếu
            </button>
            <div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
                <a class='dropdown-item' href='/courses/create'>Tạo khóa học mới</a>
                <div class='dropdown-divider'></div>
                <a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a>
                <a class='dropdown-item' href='/me/stored/news'>Bài viết của tôi</a>
                <div class='dropdown-divider'></div>
                <a class='dropdown-item' href='#'>Đăng xuất</a>
            </div>
        </div>
    </img>
</nav>